# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6380

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=reddit_crawler
MONGO_COLLECTION_NAME=posts

# Reddit API Configuration
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=fastapi-reddit-crawler
REDDIT_USERNAME=your_reddit_username
REDDIT_PASSWORD=your_reddit_password
REDDIT_CRAWL_INTERVAL_SECONDS=300
